<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to 'Add review', new_restaurant_review_path %>
    <table>
      <tr>
        <th>Rating</th>
        <th>comment</th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Show', restaurant_review_path(1, review) %></td>
      </tr>
      <% end %>
    </table>


  </body>
</html>
